.dark {
	--color-primary: #0A335C;
	--color-primary--hover: #22476c;
	--color-secondaty: #FFFFFF;
	--borders-color: #9FB8C6;
	--menu-color: #FFFFFF;

	--logo-big: url("../assets/images/logo_large_dark.svg");
	--logo-small: url("../assets/images/logo_small_dark.svg");
	--logo-theme: url("../assets/images/icons/light-mode.svg");
}
