.light {
	--color-primary: #FFFFFF;
	--color-primary--hover: #F3F5F7;
	--color-secondaty: #0A335C;
	--borders-color: #E6EBEF;
	--menu-color: #00ACFF;

	--logo-big: url("../assets/images/logo_large_light.svg");
	--logo-small: url("../assets/images/logo_small_light.svg");
	--logo-theme: url("../assets/images/icons/dark-mode.svg");
}
