:root {
  --header-height: 72px;
  --menu-color: #00ACFF;
  --error: #c62828;

  --logo-restart: url("../assets/images/icons/restart.svg");
  --logo-user: url("../assets/images/avatar.png");
  --logo-game-avatar: url("../assets/images/alba.svg");
  --logo-menu: url("../assets/images/icons/burger-menu.svg");
  --logo-menu-close: url("../assets/images/icons/burger-menu-close.svg");
  --logo-menu-item: url("../assets/images/icons/menu-item.svg");
  --tablet-logo: url("../assets/images/logo_large_dark.svg");
  --mobile-logo: url("../assets/images/logo_small_dark.svg");
}
